@import '../../assets/variables.scss';

.item-cont {
    @extend %cont-shared;
    justify-content: flex-start;
    width: 100%;
    height: 66px;

    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        text-align: center;
        color: #000;
    }
}

.number {
    @extend %cont-shared;
    width: 50px;
    height: 100%;
}

.item-image-cont {
    @extend %cont-shared;
    justify-content: flex-start;
    width: 45%;
    height: 100%;
}

.cart-item-image {
    @extend %cont-shared;
    width: 100px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain
}

.item-price {
    @extend %cont-shared;
    justify-content: flex-end;
    width: 45%;
    height: 100%;
}

.delete-button-cont {
    @extend %cont-shared;
    justify-content: flex-start;
    width: 20%;
    height: 100%;
    padding-left: 30px;
}

.delete-button {
    cursor: pointer;
}

.total-price {
    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        text-align: center;
        color: #000;
    }
}