@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.wordCarousel {
	position: absolute;
	display: flex;
	flex-direction: row;
	font-family: 'Roboto';
    font-size: 5rem;
	font-weight: 600;
	color: #eee;
}

.left{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40%;
	height: 92px;
}

.right {
	display: flex;
	flex-direction: column;
	width: 60%;
	overflow: hidden;
	position: relative;
	height: 92px;
}

.wordCarousel p{
	mix-blend-mode:color-dodge;
	color: lightsalmon;
}

.swipe-item{
	text-align: left;
	 margin-left: -10%;
	 height: 90px;
	 margin-bottom: 0px;
	 display: flex;
}

.swipe-item p{
	margin-top: -1.2%;
}

.flip {
	animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip3 {
	0% {
		margin-top: -200px;
		}
	5% {
		margin-top: -180px;
		}
	33% {
		margin-top: -180px;
		}
	38% {
		margin-top: -90px;
		}
	66% {
		margin-top: -90px;
		}
	71% {
		margin-top: 0px;
		}
	99.99% {
		margin-top: 0px;
		}
	100% {
		margin-top: -270px;
		}
}
