@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.wrapper{
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #FFF;
  overflow-x: hidden;
}

/* Блок видео */
.video-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 47vh;
}

video {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.carousel-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 99%;
    height: 53vh;
}

.carousel {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85%;
    /* background-color: red; */
}

.arrow-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8%;
    height: 100%;
    /* background-color: aqua; */
}

.slider-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 84%;
    height: 100%;
    /* background-color: rgb(195, 0, 255); */
}

.arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 25%;
    /* background-color: green; */
}

/* Стрелка вправо */
.arrow-right {
    cursor: pointer;
    position: relative;
    width: 35%;
    height: 2.5px;
    background-color: #8B8B8B;
    animation: arrow 700ms linear infinite;
  }
  
  .arrow-right::after, .arrow-right::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 2px;
    right: -4px;
    background-color: #8B8B8B;
  }
  
  .arrow-right::after {
    top: -3.5px;
    transform: rotate(45deg);
  }
  
  .arrow-right::before {
    top: 3.5px;
    transform: rotate(-45deg);
  }

  #details-arrow-right {
    background-color: #000;
  }

  #details-arrow-right::after, 
  #details-arrow-right::before {
    background-color: #000;
  }



/* Стрелка влево */
#arrow-left {
    cursor: pointer;
    position: relative;
    width: 35%;
    height: 2.5px;
    background-color: #8B8B8B;
    animation: arrow 700ms linear infinite;
}
  
  #arrow-left::after, #arrow-left::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 2px;
    left: -4px;
    background-color: #8B8B8B;
  }
  
  #arrow-left::after {
    top: -3.5px;
    transform: rotate(-45deg);
  }
  
  #arrow-left::before {
    top: 3.5px;
    transform: rotate(45deg);
  }



.circles-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 15%;
    /* background-color: yellow; */
}

.circles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 80%;
    margin-bottom: 2%;
    /* background-color: green; */
}

.slider-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    width: 30%;
    height: 100%;
    /* background-color: purple; */
}

.image-box {
    position: relative;
    display: flex;
    width: 120%;
    height: 70%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.title-cont {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 10%;
  /* background-color: aquamarine; */
}

.title-cont span {
  font-family: 'Roboto';
  font-size: 18px;
}

#box1{
  background-image: url('../images/shoes/nike4.png');
}

#box2{
  background-image: url('../images/shoes/nike5.png');
}

#box3{
  background-image: url('../images/shoes/nike1.png');
}

.round {
    position: relative;
    cursor: pointer;
    display: flex;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin-right: 7px;
    margin-left: 7px;
    background-color: #D9D9D9;
}

.active {
    width: 16px;
    height: 16px;
}

/* Промо раздел */
.promo-cont {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  /* background: linear-gradient(90deg, #FFC165 58%, #FFF 42%); */
  background: 
  linear-gradient(90deg,#FFC165 75%,#fff 0) 
  var(--_p,100%)/200% no-repeat;
  transition: .8s;
}

.promo-cont-active{
--_p: 78%;
}

.top-cont {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
  /* background-color: pink; */
}

.bottom-cont {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 100%;
  /* background-color: rgb(108, 108, 255); */
}

.third-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 33.33%;
  /* background-color: rgb(108, 255, 113); */
}


.brand-name-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-bottom: -5%;
}

.shadow-text{
  font-size: 120px;
  letter-spacing: 0.28em;
  margin-left: 20px;
  text-align: center;
  color: #fcedd8;
  font-family: 'Nerko One';
  font-weight: 700;
  text-shadow: 5px 5px 0px #eb452b, 
              10px 10px 0px #efa032, 
              15px 15px 0px #46b59b, 
              20px 20px 0px #017e7f, 
              25px 25px 0px #052939, 
              30px 30px 0px #c11a2b;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #FFF;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}


.brand-title-cont p {
  font-family: 'Anton';
  font-size: 70px;
  color: #FFF;
}

.details-button {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  /* background-color: yellow; */
  margin-left: 40%;
}

.details-button-span-cont {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 50%;
}

.details-button-arrow-cont {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 50%;
}

.details-button p {
  font-family: 'Roboto';
  font-size: 28px;
  color: #000;
  cursor: pointer;
}

.main-image {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-image: url('../images/shoes/mainimg.png');
}

.third-box-cont{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.third-box-cont span {
  font-family: 'Anton';
  font-size: 64px;
  color: #000;
  margin-bottom: -55%;
  margin-right: -20%;
}

/* Промо товары */
.rounded-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 100px;
  margin-left: 2%;
  margin-right: 2%;
}
.rouned-item{
  font-size: 18px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 224px;
  height: 81px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: transparent;
  border-radius: 31px;
  box-shadow: 9px 9px 24px 1px rgba(0, 0, 0, .25  );
}
.rouned-item-active{
  width: 265px;
  height: 95.4px;
}
.photo-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}
.photo{
  margin-left: 6%;
  position: absolute;
  width: 124px;
  height: 68px;
  background-size: contain;
  background-repeat: no-repeat;
}

#ph1{
  background-image: url('../images/shoes/nike1.png');
}
#ph2{
  background-image: url('../images/shoes/nike2.png');
}
#ph3{
  background-image: url('../images/shoes/nike3.png');
}
#ph4{
  background-image: url('../images/shoes/nike4.png');
}
#ph5{
  background-image: url('../images/shoes/nike5.png');
}

.price{
  margin-left: 30%;
  width: 40%;
}

.price p {
  font-family: 'Roboto';
  font-size: 20px;
  color: #000;
}

/* 3Д карусель */
.object-cont {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  /* background: linear-gradient(270deg, #65A8A8 58%, #FFF 42%); */
  background: 
  linear-gradient(90deg,#FFF 65%,#65A8A8 0%) 
  var(--_p,100%)/200% no-repeat;
  transition: .8s;
}

.object-cont-active{
--_p: 80%;
}

.object-cont-right {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
  right: 0;
  /* background-color: pink; */
}

.object-image {
  display: flex;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50%;
  width: 50%;
  background-image: url('../images/shoes/sale.png');
}

.object-cont-tools{
  display: flex;
  margin-bottom: -14%;
  margin-right: 35%;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 30px;
}

.object-cont-button {
  color: #fff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  margin-left: 5%;
  margin-right: 5%;
  text-decoration: underline;
  cursor: pointer;
}

.radius {
  position: absolute;
  width: 16em;  /* ширина в два раза меньше высоты, иначе получится полуовал */
  height: 32em;
  border: 2px solid #fff;
  /* border-top-right-radius: 100%;
  border-bottom-right-radius: 100%; */
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  border-left-color: transparent;
  background: transparent;
  margin-right: -50%;
}


/* Ленты с надписями */
.sale-string-cont {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  margin-top: -30px;
}

.sale-string {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 100%;
  overflow: hidden;
}

.sale-string p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}

#blue-string {
  margin-bottom: -50px;
  background: #79F2FA;
  transform: rotate(-0.78deg);
}

#corral-string {
  margin-bottom: 50px;
  background: #FFA588;
  transform: rotate(2.23deg);
}

#green-string {
  margin-bottom: 50px;
  background: #C5F38B;
  transform: rotate(-1.77deg);
}

/* #scroll-text {
  overflow: hidden;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
} */

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.basketball-cont {
  margin-top: 3%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.basketball-cont h2 {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.105em;
  color: #000;
}

.basketball-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 2%;
  width: 1224px;
  height: 688px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/shoes/basketball.jpg');
}

.basketball-image button {
  margin-bottom: 2%;
  cursor: pointer;
  border: none;
  width: 147px;
  height: 34px;
  background: #FFFFFF;
  border-radius: 31px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #444;
}

.basketball-image button:hover {
  width: 160px;
  height: 37px;

  font-size: 21px;
}

.form-container {
  margin-top: 7%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80.5%;
  max-width: 1224px;
  height: 295px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 59.9%;
  height: 100%;
  background-color: #EAC794;
}

.form-title-cont {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 75%;
  height: 60%;
}

.form-title-cont span {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.105em;
  color: #FFFFFF;
}

.form-input-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 18%;
  background-color: #FFF;
}

.input-cont {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
}

.input-cont input {
  width: 96%;
  height: 75%;
  border: none;
}

.input-cont input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: left;
  color: #888888;
}

.input-cont input:focus {
  outline: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: left;
  color: #000;
}

.form-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  cursor: pointer;
  background: 
    linear-gradient(90deg,#3D9282 50%,#92703D 0) 
    var(--_p,100%)/200% no-repeat;
  transition: .4s;
}

.form-button:hover{
  --_p: 0%;
}

.form-button span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}

.form-image-cont {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 45%;
  background-image: url('../images/shoes/run.jpeg');
}





