@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #FFF;
  overflow-x: hidden;
}

/* Блок видео */
.video-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 47vh;
}

video {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.slider-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-width: 100%;
  max-width: 100%;
}

.slider-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  width: 30%;
  height: 100%;
}

.image-box {
  position: relative;
  display: flex;
  width: 120%;
  height: 70%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.title-cont {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 10%;
}

.title-cont span {
  font-family: 'Roboto';
  font-size: 18px;
  cursor: pointer;
}

#box1{
  background-image: url('../images/slider/nike1.png');
}

#box2{
  background-image: url('../images/slider/nike2.png');
}

#box3{
  background-image: url('../images/slider/nike3.png');
}

#box4{
  background-image: url('../images/slider/nike4.png');
}

#box5{
  background-image: url('../images/slider/nike5.png');
}

#box6{
  background-image: url('../images/slider/nike6.png');
}

#box7{
  background-image: url('../images/slider/nike7.png');
}

#box8{
  background-image: url('../images/slider/nike8.png');
}

#box9{
  background-image: url('../images/slider/nike9.png');
}

/* Промо раздел */
.promo-cont {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: 
  linear-gradient(90deg,#FFC165 75%,#fff 0) 
  var(--_p,100%)/200% no-repeat;
  transition: .8s;
}

.promo-cont-active{
  --_p: 78%;
}

.top-cont {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
}

.bottom-cont {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 100%;
}

.third-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 33.33%;
}

.brand-name-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-bottom: -5%;
}

.shadow-text{
  font-size: 120px;
  letter-spacing: 0.28em;
  margin-left: 20px;
  text-align: center;
  color: #fcedd8;
  font-family: 'Nerko One';
  font-weight: 700;
  text-shadow: 5px 5px 0px #eb452b, 
              10px 10px 0px #efa032, 
              15px 15px 0px #46b59b, 
              20px 20px 0px #017e7f, 
              25px 25px 0px #052939, 
              30px 30px 0px #c11a2b;
}

.brand-title-cont p {
  font-family: 'Anton';
  font-size: 70px;
  color: #FFF;
}

.details-button {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 50px;
  margin-left: 19%;
}

.details-button-span-cont {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.details-button-arrow-cont {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 50%;
}

.details-button p {
  font-family: 'Roboto';
  font-size: 28px;
  color: #000;
  cursor: pointer;
  user-select: none;
  box-shadow: inset 0 0 0 0 #000;
  border-radius: 5px;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.details-button p:hover {
  box-shadow: inset 0 100px 0 0 #000;
  border-radius: 5px;
  color: #fff;
}

.main-image {
  position: relative;
  display: flex;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-position-y: 45%;
  transform: rotate(-30deg);
}

.third-box-cont{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.third-box-cont span {
  font-family: 'Anton';
  font-size: 64px;
  color: #000;
  margin-bottom: -55%;
  margin-right: -20%;
}

/* Промо товары */
.rounded-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 100px;
  margin-left: 2%;
  margin-right: 2%;
}

.rounded-item{
  font-size: 18px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 224px;
  height: 81px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: transparent;
  border-radius: 31px;
  box-shadow: 9px 9px 24px 1px rgba(0, 0, 0, .25  );
}

.rounded-item-active{
  width: 265px;
  height: 95.4px;
}

.photo-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.photo{
  margin-left: 6%;
  position: absolute;
  width: 124px;
  height: 68px;
  background-size: contain;
  background-repeat: no-repeat;
}

#ph1 {
  background-image: url('../images/shoes/nike11.png');
}

#ph2 {
  background-image: url('../images/shoes/nike12.png');
}

#ph3 {
  background-image: url('../images/shoes/nike13.png');
}

#ph4 {
  background-image: url('../images/shoes/nike14.png');
}

.price{
  margin-left: 30%;
  width: 40%;
}

.price p {
  font-family: 'Roboto';
  font-size: 20px;
  color: #000;
}

/* 3Д карусель */
.object-cont {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: 
  linear-gradient(90deg,#FFF 65%,#65A8A8 0%) 
  var(--_p,100%)/200% no-repeat;
  transition: .8s;
}

.object-cont-active{
  --_p: 80%;
}

.object-cont-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
}

.button-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.button-cont span {
  width: 58%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.04em;
  color: #000000;
  user-select: none;
}

.button-circle {
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;  
  height: 32px;
  border: 1px solid #000;
  border-radius: 100% 100% 100% 100%;
  cursor: pointer;
}

.button-circle:hover {
  background-color: #000;
}

.button-circle:hover #circledButton {
  color: #fff;
}

/* Ленты с надписями */
.sale-string-cont {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  margin-top: -30px;
}

.sale-string {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 100%;
  overflow: hidden;
}

.sale-string p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  user-select: none;
}

#blue-string {
  margin-bottom: -50px;
  background: #79F2FA;
  transform: rotate(-0.78deg);
}

#corral-string {
  margin-bottom: 50px;
  background: #FFA588;
  transform: rotate(2.23deg);
}

#green-string {
  margin-bottom: 50px;
  background: #C5F38B;
  transform: rotate(-1.77deg);
}

.basketball-cont {
  margin-top: 3%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.basketball-cont h2 {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.105em;
  color: #000;
}

.basketball-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 2%;
  width: 1224px;
  height: 688px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/shoes/basketball.jpg');
}

.basketball-image-button-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  width: 160px;
  height: 37px;
}

.basketball-image button {
  cursor: pointer;
  border: none;
  width: 147px;
  height: 34px;
  background: #FFFFFF;
  border-radius: 31px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #444;
  user-select: none;
}

.basketball-image button:hover {
  width: 160px;
  height: 37px;
  font-size: 21px;
}

.form-container {
  margin-top: 7%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80.5%;
  max-width: 1224px;
  height: 295px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 59.9%;
  height: 100%;
  background-color: #EAC794;
}

.form-title-cont {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 75%;
  height: 60%;
}

.form-title-cont span {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.105em;
  color: #FFF;
}

.form-input-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 18%;
  background-color: #FFF;
}

.input-cont {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
}

.input-cont input {
  width: 96%;
  height: 75%;
  border: none;
  font-size: 16px;
}

.input-cont input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: left;
  color: #888;
  user-select: none;
}

.input-cont input:focus {
  outline: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: left;
  color: #000;
}

.form-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 30%;
  height: 100%;
  cursor: pointer;
  background: 
    linear-gradient(90deg,#3D9282 50%,#92703D 0) 
    var(--_p,100%)/200% no-repeat;
  transition: .4s;
}

.form-button:hover{
  --_p: 0%;
}

.form-button span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFF;
  user-select: none;
}

.form-image-cont {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 45%;
  background-image: url('../images/shoes/run.jpeg');
}





