@media only screen and (max-width: 640px) {

    /* 3Д карусель */
    .object-cont-right {
        width: 100%;
        height: 435px;
    }

    .canvas-cont {
        height: 55%;
        width: 80%;
        margin-top: -20%;
        margin-right: 20%;

    }

    .radius {
        width: 150px;
        height: 300px;
        margin-top: -20%;
    }

    .box-dot {
        height: 26px;
        width: 26px;
    }

    .dot {
        height: 14px;
        width: 14px;
    } 

    .dot-active {
        height: 22px;
        width: 22px;
    }

    .object-cont-tools{
        display: none;
    }

    #box-dot-top {
        margin-top: -9px;
        margin-left: 15%;
    }

    #box-dot-middle {
        margin-top: 90%;
        margin-left: 92%;
    }

    #box-dot-bottom {
        margin-top: 190%;
        margin-left: 15%;
    }

    .order-button {
        display: flex;
        position: absolute;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 140px;
        height: 36px;
        margin-top: 90%;
    }

    .order-button .details-button-span-cont {
        width: 100%;
        height: 100%;
    }

    .order-button .details-button-span-cont p {
        font-size: 22px;
    }

    .order-button .details-button-span-cont p:hover {
        box-shadow: none;
        border-radius: 5px;
        color: #000;
    }

}