@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Шапка */
header{
    top: 0;   
    position: fixed;
    z-index: 5;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(4px);
    height: 7vh;
}

nav{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding-left: 5%;
}

.logo-cont{
    width: 7%;
    height: 100%;
}

.nav-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 100%;  
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 9%;
    padding-right: 8%;
    padding-left: 8%;
}

.item a{
    font-family: 'Roboto';
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
    color: #444444;
}

.item a:hover{
    font-family: 'Roboto';
    font-size: 19px;
    cursor: pointer;
}

.nav-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20%;
    height: 100%;
    right: 0;
}

.search-cont{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: red;
    height: 60%;
    right: 0;
    margin-right: 40%;
}

.nav-cont{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 70%;
    right: 0;
    margin-right: 15%;
    margin-left: 3%;
}

.nav-element{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    /* box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, .25  ); */
}

.nav-element:hover{
    background-color: #b89cff;
}

.kart{

    position: absolute;
    height: 26px;
    width: 26px;
    background-image: url('../../images/icons/cart.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.user{

    position: absolute;
    height: 20px;
    width: 20px;
    background-image: url('../../images/icons/user.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.search-field {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 110px;
    /* margin-right: 20%; */
    height: 32px;
    background-color: rgba(204, 201, 201, 0.6);
    border-radius: 40px;
}

.search-field:hover {
    background-color: #b89cff;
}

.search-input{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 70%;
}

.search-input input{
    margin-left: 10px;
    width: 80%;
    background-color: transparent;
    border: 0;
    font-size: 14px;
}

.search-icon{
    height: 50%;
    width: 20%;
    background-image: url('../../images/icons/search.png');
    background-repeat: no-repeat;
    background-size: contain;
}


#current-page{
    color: #000;
    font-weight: bold;
}